* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-family: sans-serif;

}

/* REGOLE DI DEBUG */

.w-30 {
    width: 30%;
}

.w-50 {
    width: 50%;
}

.w-100 {
    width: 100%;
}

.bottom-30 {
    padding-bottom: 30px;
}

.bottom-50 {
    padding-bottom: 50px;
}

.bottom-100 {
    padding-bottom: 100px;
}

.top-30 {
    padding-top: 30px;
}

.top-50 {
    padding-top: 50px;
}

.top-100 {
    padding-top: 100px;
}

.border {
    border: 1px dashed red;
}

.d-flex {
    display: flex;
}

.wrap {
    flex-wrap: wrap;
}

.space-between {
    justify-content: space-between;
}

.jc-center {
    justify-content: center;
}

.ai-center {
    align-items: center;
}

.container {
    max-width: 736px;
    margin: 0 auto;
}

/* .small-container {
    max-width: 1000px;
    margin: 0 auto;
} */

/* .btn {
    background-color: blue;
    color: white;
    border: none;
    padding: 10px;
    height: 20px;
    line-height: 20px;
    text-align: center;
} */



/* div::after {
    content: '\2665';
    color: red;
} */

/* .style-none {
    list-style-type: none;
} */

/* .decoration-none {
    text-decoration: none;
} */


.debug-box {
    height: 70px;
    background-color: #B5DDFF;

}

.debug-box-plan {
    height: 70px;
    background-color: #BCB5EE;

}

.card {
    margin-bottom: 20px;
    background-color: #B5DDFF;
}

/* REGOLE CSS */


header {
    background-color: #0084FD;
    height: 70px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
}

header .debug-box {
    line-height: 70px;
}

main {
    margin-top: 90px;
}

#planning {
    background-color: #9792E4;
    padding: 30px 0;
}

#planning .column {
    margin: 20px 0;
    background-color: #BCB5EE;
}

/* REGOLE RESPONSIVE */


@media screen and (min-width: 768px) {
    .container {
        max-width: 736px;
    }

    #demo .cards {
        display: flex;
        flex-wrap: wrap;
        margin: 0 -10px;

    }

    #demo .card:first-child {
        width: calc((100% / 3 * 2) - 20px);

    }

    #demo .card {
        width: calc((100% / 3) - 20px);
        margin-left: 10px;
        margin-right: 10px;

    }

    #plannig .card {
        width: calc((100% / 2) - 20px);
        margin-left: 10px;
        margin-right: 10px;

    }

}


@media screen and (min-width: 992px) {
    .container {
        max-width: 960px;
    }

    #planning .columns {
        display: flex;
        justify-content: space-between;
    }

    #planning .column {
        width: 50%;
    }

}