* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Open Sans', sans-serif;

}

/* REGOLE DI DEBUG */

.w-30 {
    width: 30%;
}

.w-50 {
    width: 50%;
}

.w-100 {
    width: 100%;
}

.bottom-30 {
    padding-bottom: 30px;
}

.bottom-50 {
    padding-bottom: 50px;
}

.bottom-100 {
    padding-bottom: 100px;
}

.top-30 {
    padding-top: 30px;
}

.top-50 {
    padding-top: 50px;
}

.top-100 {
    padding-top: 100px;
}

.border {
    border: 1px dashed red;
}

.d-flex {
    display: flex;
}

.wrap {
    flex-wrap: wrap;
}

.space-between {
    justify-content: space-between;
}

.jc-center {
    justify-content: center;
}

.ai-center {
    align-items: center;
}

.container {
    max-width: 100%;
    margin: 0 auto;
    padding: 0 20px;
}

/* .small-container {
    max-width: 1000px;
    margin: 0 auto;
} */

/* .btn {
    background-color: blue;
    color: white;
    border: none;
    padding: 10px;
    height: 20px;
    line-height: 20px;
    text-align: center;
} */



/* div::after {
    content: '\2665';
    color: red;
} */

/* .style-none {
    list-style-type: none;
} */

/* .decoration-none {
    text-decoration: none;
} */


.debug-box {
    height: 70px;
    padding: 10px;
    background-color: #B5DDFF;

}

.debug-box-2 {
    height: 70px;
    padding: 10px;
    background-color: #BCB5EE;

}


/* REGOLE CSS */


header {
    background-color: #0084FD;
    height: 70px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
}

header .container {
    height: 100%;

}

header nav ul {
    display: flex;
    list-style-type: none;
}

header nav li {
    margin-left: 10px;
}

header a {
    text-decoration: none;
}

nav {
    display: none;
}



.hamburger {
    font-size: 25px;
}


main {
    margin-top: 90px;
}

#demo .card {
    margin-bottom: 20px;
    background-color: #B5DDFF;
    text-align: center;
    padding: 20px;
}

.card i {
    font-size: 80px;
    color: #0084FD;
}

#icon {
    font-size: 16px;
    color: #fff;

}



#demo .card h3 {
    color: #0084FD;
    padding: 20px 0;
}

#demo .card p {
    line-height: 30px;
    color: #5A6E7F;
}


.demo-img {
    width: 50%;
    align-self: flex-end;
    display: block;
    margin: 0 auto;

    /* position: relative;
    bottom: -20px;
    left: calc(50% - 25%); */
}


#demo .card:first-child {
    text-align: left;
    padding: 0%;
}



#planning {
    background-color: #9792E4;
    padding: 50px 0;
}

#planning .column {
    margin-bottom: 20px;
}

#planning img {
    width: 100%;
}

#planning .column h3,
h4 {
    padding: 10px 0;
}


#planning .column.sx {
    color: #fff;
}


.column.sx p {
    padding: 20px 0 0 0;
}


.column.dx {
    text-align: center;
    
}

.column.dx p {
    padding: 0 20px;
}


#arrow {
    background-color: #9792E4;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    font-size: 15px;
    display: inline-block;
    line-height: 30px;
    margin: 20px 0;
}




#testimonial {
    padding: 30px 0;
}

#testimonial .card {
    margin: 30px 0;
}

.presentation {
    text-align: center;
}

.presentation h2 {
    color: #9792E4;
    padding: 20px 0;
}

.testimonial {
    object-fit: cover;
    border-radius: 50%;
    height: 150px;
    width: 150px;
}

#testimonial .card {
    text-align: center;
    background: #9792E4;
    padding: 20px 0;
    color: #fff;
}

#testimonial .card p {
    padding: 20px;
}

#testimonial i {
    font-size: 25px;
    color: white;
}











#features {
    background-color: #9792E4;
    padding: 50px 0;
}

#features .card {
    margin: 10px 0;
}

#about-us {
    padding: 50px 0;
}

#about-us .card {
    margin: 10px 0;
    background-color: #B5DDFF;
}

#get-started {
    background-color: #9792E4;
    padding: 50px 0;

}

footer {
    background-color: #333333;
    padding: 50px 0;

}

/* UTILITY */

.rounded {
    border-radius: 20px;
}

.more-rounded {
    border-radius: 100px;
}

.mb-30 {
    margin-bottom: 30px;
}

.p-20 {
    padding: 20px;
}

.btn {
    padding: 5px 10px;
    border-radius: 50px;
    text-decoration: none;
    text-align: center;
}

.btn.big {
    padding: 5px 20px;
    border-radius: 50px;
    text-align: center;
}

.btn.white {
    background-color: white;
}

.btn.blue {
    background-color: #0084FD;
}

.text-white {
    color: white;
}

.text-black {
    color: black;
}

.bg-color-white {
    background-color: #fff;
}




/* REGOLE RESPONSIVE */


@media screen and (min-width: 768px) {
    .container {
        max-width: 736px;
    }

    #demo .cards {
        display: flex;
        flex-wrap: wrap;
        margin: 0 -10px;
        text-align: center;

    }

    #demo .card:first-child {
        width: calc((100% / 3 * 2) - 20px);

    }

    #demo .card {
        width: calc((100% / 3) - 20px);
        margin-left: 10px;
        margin-right: 10px;

    }


    #plannig .card {
        width: calc((100% / 2) - 20px);
        margin-left: 10px;
        margin-right: 10px;

    }

    #testimonial .card {
        display: flex;
        padding: 20px 10px;

    }

    #testimonial .card div:last-child {
        text-align: left;
        flex-grow: 1;
    }
    #testimonial .card div:last-child h3 {
        padding: 0 20px;
    }






    #features .cards {
        display: flex;
        flex-wrap: wrap;
        margin: 0 -10px;


    }

    #features .card {
        width: calc((100% / 2) - 20px);
        margin-left: 10px;
        margin-right: 10px;
    }

    #about-us .cards {
        display: flex;
        flex-wrap: wrap;
        margin: 0 -10px;


    }

    #about-us .card {
        width: calc((100% / 2) - 20px);
        margin-left: 10px;
        margin-right: 10px;
    }


    .demo-img {
        width: 40%;
        margin: 0;
        padding: 0 20px;

        /* bottom: -20px;
        left: 0; */

    }










}

@media screen and (min-width: 992px) {
    .container {
        max-width: 960px;
    }

    nav {
        display: block;
    }

    .hamburger {
        display: none;
    }



    #demo .card:first-child {
        display: flex;

    }

    #demo .card:first-child>div {
        width: 50%;
    }

    #planning .columns {
        display: flex;
        justify-content: space-between;
        padding: 0 100px;
    }

    #planning .column {
        width: calc(100% / 2 - 20px);
        margin: 0 10px;
    }

    #planning .column.dx {
        margin-top: 100px;
    }


    #planning .column h3 {
        padding: 100px 0 20px 0;

    }

    #img-plannig-2 {
        width: 50%;
    }



    #features .card {
        width: calc((100% / 3) - 20px);
        margin-left: 10px;
        margin-right: 10px;
    }
}